
<h1 style="font-family:Comfortaa;">{{data.items.restaurantName}}</h1>

<h2 align="center">MENU</h2>
<div class="row">
<mat-grid-list cols="10" >
  <!-- <mat-grid-tile *ngFor="let item  of data.items.cuisines">
    <mat-card class="example-card"> -->
    <mat-card class="example-card" *ngFor="let item  of data.items.cuisines">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image">
          <img class="icon-photo" mat-card-image [src]="item.image">
        </div>
        <mat-card-title>{{item.cuisineName}}</mat-card-title>
        <mat-card-subtitle>{{item.category}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="item.image">
      <mat-card-content>
        <p>
         Rating:{{item.rating}}
         <br>
         Price:&#x20b9;{{item.price}}
        </p>
      </mat-card-content>
      <mat-card-actions>
              
        <button [disabled]="hasFavCus(item.cuisineName)? true: false"  mat-icon-button *ngIf="!(route.url==='/toolbar/login' || 
        route.url==='/toolbar/adminLogin' || route.url==='/toolbar/favorite' ||
         route.url==='/toolbar/register'|| route.url==='/toolbar/adminDashboard' ||
          route.url==='/toolbar/home' || route.url==='/toolbar' 
          || route.url==='/toolbar/addRestaurant')" (click)="addFavorite(data.items, item)">
          <mat-icon >{{hasFavCus(item.cuisineName)?'favorite':'favorite_border'}}</mat-icon></button>&nbsp;&nbsp;
          <button *ngIf="!(route.url==='/toolbar/login' || 
          route.url==='/toolbar/adminLogin' ||
           route.url==='/toolbar/register'|| route.url==='/toolbar/adminDashboard' ||
            route.url==='/toolbar/home' || route.url==='/toolbar' 
            || route.url==='/toolbar/addRestaurant'|| route.url==='/toolbar/userdashboard')" mat-icon-button class="example-label" (click)="deleteFav(item.cuisineName,data.items)"><mat-icon>delete_forever</mat-icon></button>
        <button  mat-icon-button class="example-label" (click)="addtoCart(item)"><mat-icon>library_add</mat-icon></button>
         </mat-card-actions>
    </mat-card>
    <!-- </mat-grid-tile> -->
  </mat-grid-list>
</div>
